
html 
 *{font-family: 'Poppins', sans-serif; 
    padding: 0;
    margin: 0;
}

.my-class {
    color: #000000;
    border: 2px solid #FFFFFF;
    background-image: url("../images/sea.jfif");
    padding: 30px;
    text-align: center;
}
.centralcontent {
    margin: 0 5%;
}
.foto {
    padding: 10px;
}
.my-class2 {
    color: #0D1A54;
    text-decoration: none;
    text-shadow: 1px 0px;
    background-color: #84D095;
    text-align: center;
}
.bodycolor {
    background-color: #FFDED1;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
}
 